---
import PageLayout from "../components/layout/PageLayout.astro";
---

<PageLayout title="About">
  <section class="p-4 md:w-1/2 mx-auto">
    <h1
      class="text-3xl text-cDark dark:text-primary-main font-display uppercase"
    >
      about me &#128563;
    </h1>
    <article class="my-4">
      <h2 class="text-primary-dark font-bold text-xl">Who?</h2>
      <p>
        Hi! My name's Ivan, but everyone calls me kid. I'm a <strong
          class="text-primary-dark">software developer</strong
        >
        with some 6-7 years of experience in enterprise IT, working in any part of
        the stack from the front-end (my current title) all the way to the database
        as a SQL developer. I also have about three years worth of experience teaching
        Web Development, focusing on Javascript technologies.
      </p>
    </article>
    <article class="my-4">
      <h2 class="text-primary-dark font-bold text-xl">What?</h2>
      <p>
        This is my <strong class="text-primary-dark">personal blog</strong>, and
        while in the future it will contain links towards my social media
        profiles, it won't really work as a portfolio or a page for
        proffessional inquiry. Primarly, it's a page where I focus on reviewing
        music albums, rant about gaming, films and all other sorts of
        entertainment.
      </p>
    </article>
    <article class="my-4">
      <h2 class="text-primary-dark font-bold text-xl">Why?</h2>
      <p>
        I've wanted to make a blog for some time now, though I never really had
        a clear idea exactly what I wanted to write about. I knew I wanted to
        review stuff, ideas from movies to music all came and went and I never
        really felt like doing just that. And then I figured. Why not just talk
        about everything?
      </p>
    </article>
  </section>
</PageLayout>
